<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
        </style>
        <link rel="stylesheet" href="css/filme.css">
        <link rel="shortcut icon" href="/favico/favicon.ico" type="image/x-icon">
        <title>Rocketflix</title>
        <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
        <script src="/api.js" defer></script>
      </head>
<body>
    <main>
       <h1>Que tal esse filme incrível?!</h1>
       <img src="/img/<%=" alt="">
    </main>
</body>
</html>