* {
    font-family: 'Poppins', sans-serif;
}

:root {
    background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
    background-repeat: no-repeat;
    height: 100%;
    display: grid;
    justify-items: center;
    margin: 0 auto;
}

#cube {
    display: grid;
    justify-items: center;
    margin: 0 auto;
}

#buscar {
    position: center;
    width: 180.98px;
    height: 47px;
    left: 661px;
    top: 628px;
      
    border-radius: 5px;
}

button {
    background: #e9e6e3;
    font-size: 16px;
    justify-content: center;
}

#arrow{
  
    width: 35.56px;
    height: 25.29px;
    left: 674.44px;
    top: 639.06px;
 
}
img {
    margin: 0 auto;
}

h1 {
    color: #fff;
    position: center;
    width: 533px;
    height: 123px;
    left: 485px;
    top: 126px;

}

p {
    color: #b3b3b3;
}